﻿@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Succesfully!</h1>
        Your Order Number is : @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br />
        Your order has been placed succesfully!
        <br />
    </div>
</div>