﻿@model CompanyVM
@{
    ViewData["Title"] = "Companies";
}

<partial name="_Notification"/>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient text-light py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white">Companies</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row py-4">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-area="admin" asp-controller="Company" asp-action="Upsert" class="btn bg-dark text-white">
                        <i class="bi bi-plus-circle"></i>
                        New Company
                    </a>
                </div>
            </div>
            <table id="tblTable" class="table table-bordered table-striped" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Street Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Postal Code</th>
                        <th>Phone Number</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
        <script src="~/js/company.js"></script>
}