﻿@model CompanyVM

@{
    ViewData["Title"] = @Model.Company?.Id == null || Model.Company?.Id == 0 ? "Create" : "Update" + " company";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient text-light py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white">@(@Model.Company?.Id == null || Model.Company.Id! == 0 ? "Create" : "Update") Company</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Company!.Id" hidden />
            <div class="row p-3 m-4">
                <div class="col-10">
                    <div class="p-4">
                        <div class="row">
                            <div class="col-6">
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger></div>
                        <div class="mb-3">
                            <label asp-for="Company!.Name" class="mb-1 fw-bold"></label>
                            <input asp-for="Company!.Name" type="text" class="form-control" />
                            <span asp-validation-for="Company!.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company!.StreetAddress" class="mb-1 fw-bold"></label>
                            <input asp-for="Company!.StreetAddress" type="text" class="form-control" />
                            <span asp-validation-for="Company!.StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company!.City" class="mb-1 fw-bold"></label>
                            <input asp-for="Company!.City" type="text" class="form-control" />
                            <span asp-validation-for="Company!.City" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company!.State" class="mb-1 fw-bold"></label>
                            <input asp-for="Company!.State" type="text" class="form-control" />
                            <span asp-validation-for="Company!.State" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company!.PostalCode" class="mb-1 fw-bold"></label>
                            <input asp-for="Company!.PostalCode" type="text" class="form-control" />
                            <span asp-validation-for="Company!.PostalCode" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Company!.PhoneNumber" class="mb-1 fw-bold"></label>
                            <input asp-for="Company!.PhoneNumber" type="text" class="form-control" />
                            <span asp-validation-for="Company!.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row align-items-end justify-content-end">
                            <div class="col-sm-12 col-md-3">
                                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-dark w-100 m-0 fw-bold">
                                    BACK TO LIST
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                @if (Model.Company?.Id == null || Model.Company.Id == 0)
                                {
                                    <button type="submit" class="btn btn-dark w-100 mt-2 fw-bold">
                                        CREATE
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-dark w-100 mt-2 fw-bold">
                                        UPDATE
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}