﻿@model HomeVM

@{
    ViewData["Title"] = "Home";
}

<partial name="_Notification"/>

<div class="row pb-3">
    @foreach (var product in Model.Products!)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h6 text-dark opacity-75 text-uppercase text-center">
                                    @product.Title
                                </p>

                                <p class="card-title text-warning text-center">
                                    by @product.Author
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark opacity-75 text-center">
                                    List Price
                                    <span class="text-decoration-line-through">@product.ListPrice.ToString("c")</span>
                                </p>
                                <p class="text-dark opacity-75 text-center">
                                    As low as: <span>@product.Price100.ToString("c")</span>
                                </p>
                            </div>
                            <div>
                                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-dark bg-gradient border-0 form-control">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>