﻿@model CategoryVM

@{
    ViewData["Title"] = @Model.Category?.Id == null || Model.Category?.Id == 0 ? "Create" : "Update" + " Category";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient text-light py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white">@(@Model.Category?.Id == null || Model.Category.Id! == 0 ? "Create" : "Update") Category</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <input asp-for="Category!.Id" hidden />
            <div class="mb-3">
                <label asp-for="Category!.Name" class="mb-1 fw-bold"></label>
                <input asp-for="Category!.Name" type="text" class="form-control" />
                <span asp-validation-for="Category!.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Category!.DisplayOrder" class="mb-1 fw-bold"></label>
                <input asp-for="Category!.DisplayOrder" type="text" class="form-control" />
                <span asp-validation-for="Category!.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="row align-items-end justify-content-end">
                <div class="col-sm-12 col-md-3">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark w-100 m-0 fw-bold">
                        BACK TO LIST
                    </a>
                </div>
                <div class="col-sm-12 col-md-3">
                    <button type="submit" class="btn btn-dark w-100 mt-2 fw-bold">
                        @(Model.Category?.Id == null || Model.Category.Id! == 0 ? "CREATE" : "UPDATE")
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}