﻿@{
    ViewData["Title"] = "Orders";
}

@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var approved = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active text-white bg-primary";
            break;
        case "inprocess":
            inprocess = "active text-white bg-primary";
            break;
        case "completed":
            completed = "active text-white bg-primary";
            break;
        case "approved":
            approved = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;
    }
}

<partial name="_Notification"/>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient text-light py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white">Orders</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end pb-5 pt-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
                <li class="list-group-item @inprocess">
                    In Process
                </li>
                </a>
                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="pending">
                <li class="list-group-item @pending">
                    Payment Pending
                </li>
                </a>
                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">
                <li class="list-group-item @completed">
                    Completed
                </li>
                </a>
                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                <li class="list-group-item @approved">
                    Approved
                </li>
                </a>
                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">
                    All
                </li>
                </a>
            </ul>
        </div>
        <span></span>
        <table id="tblTable" class="table table-bordered table-striped" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>

@section Scripts {
    <script src="~/js/order.js"></script>
}