﻿@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment successful!</h1>
        Your Order Number is : @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br />
        Payment has been applied successfully <br/>
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary ">
            Back to Order Details
        </a>
        <br />
    </div>
</div>