html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: 'Montserrat' 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
  margin-bottom: 60px;
}

.navbar-color {
    background-color: rgba(52, 58, 64, 1) !important;
}